body {
    background: url("../images/") repeat;
}

.designer .mask.rgba-gradient {
    background: -webkit-linear-gradient(45deg,rgba(174, 175,178,1),rgba(224,225,225,1) 100%) !important;
}

.portfolio-img {
    height: 175px;
    width: 175px;
}

.project-img {
margin: auto;
}

.project-wrapper {
height: 70%;
width: 100%
}

.display-3 {
    font-family: 'Overpass', sans-serif;
}
.icon-area {
    max-width: 165px;
}
.col-md-12 .card-body {
    min-height: 205px;
}
.icon-area img {
    max-height: 115px;
    width: 56%;
}
html,
body,
header,
.jarallax {
height: 100%;
}
@media (min-width: 800px) and (max-width: 850px) {
.navbar:not(.top-nav-collapse) {
    background: #222!important;
}
.navbar {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12) !important;
}
.icon-area {
    max-width: 165px;
}
.col-md-12 .card-body {
    min-height: 205px;
}
}